{% extends 'visitor/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="loginFormDiv border lightgrey flex" >
        <h3 class="lightgrey">Identifiez-Vous</h3>
        <label class="lightgrey" for="inputEmail">Email</label>
        <input class="lightgrey" type="email" value="{{ last_username }}" name="email" id="inputEmail"  autocomplete="email" required autofocus>
        <label class="lightgrey" for="inputPassword">Mot De Passe</label>
        <input class="lightgrey" type="password" name="password" id="inputPassword"  autocomplete="current-password" required>

        <input class="lightgrey" type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >


        <button class="lightgrey submitBtn" type="submit">
            Connexion
        </button>
        <p class="lightgrey">Pas encore inscrit ? <a class="lightgrey" href="{{ path("app_register") }}">Rejoignez nous</a> </p>
    </div>
</form>
{% endblock %}
