{% extends 'visitor/base.html.twig' %}
{% block title %}s'enregistrer{% endblock %}


{% block main %}

    {{ form_start(registrationForm) }}
<div class="loginFormDiv border lightgrey flex">
    <div class="row flex ">
    <h3 class="lightgrey">Identifiez Vous</h3>

        <div class="lightgrey">
           {{ form_label(registrationForm.email) }}
            <div class="lightgrey">{{ form_widget(registrationForm.email, {attr:{'class': 'lightgrey'} }) }}</div>
        </div>

        <div class="lightgrey">
            {{ form_label(registrationForm.Password,'Mot De Passe') }}
            <div class="lightgrey">{{ form_widget(registrationForm.Password, {attr:{'class': 'lightgrey'} }) }}</div>
        </div>

        <div class="lightgrey">
            {{ form_label(registrationForm.firstname, 'Prénom') }}
            <div class="lightgrey">{{ form_widget(registrationForm.firstname, {attr:{'class': 'lightgrey'} }) }}</div>
        </div>

        <div class="lightgrey">
            {{ form_label(registrationForm.name, 'Nom') }}
            <div class="lightgrey">{{ form_widget(registrationForm.name, {attr:{'class': 'lightgrey'} }) }}</div>
        </div>
        <button class="submitBtn lightgrey" type="submit">Terminé</button>
    </div>
</div>
    {{ form_end(registrationForm) }}



{% endblock %}
